<form th:fragment="itemcreateform" class="form-horizontal" th:action="@{/productos/save}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nombre" name="nombre"
                   placeholder="Product name" autocomplete="off" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="descripcion">Description:</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="descripcion" name="descripcion"
                      placeholder="Description" required autocomplete="off"> </textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="cantidad">Amount:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="cantidad" name="cantidad"
                   placeholder="Amount of products" required autocomplete="off">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="precio">Price:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" step="any" id="precio" name="precio"
                   placeholder="Product price" autocomplete="off" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="img">Image:</label>
        <div class="col-sm-10">
            <input type="file" class="form-control-file" id="img" name="img">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-saved"></span> Submit
            </button>
        </div>
    </div>
</form>
