<table th:fragment="table" class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Stock</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a  class="btn btn-warning" href="productos/editar">Edit</a> </td>
        <td><a  class="btn btn-danger" href="#">Delete</a> </td>
    </tr>
    </tbody>
</table>
