<div th:fragment="table">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No. of Order</th>
            <th scope="col">Date</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="btn btn-success" href="administrador/detalleorden">Ver Detalle</a></td>
        </tr>
        </tbody>
    </table>
</div>